target/
runner/
*.class
*.classpath
*.DS_Store
*.project
*.settings
*.externalToolBuilders
.idea/
bin/
.metadata
*.*~
*.iml
*.ipr
*.iws
*.db
lib_managed/
all-deps/
projectFilesBackup/
project/build/target/
project/boot/

!src/main/resources/aquarium.properties
doc/paper/aquarium.aux
doc/paper/aquarium.bbl
doc/paper/aquarium.blg
doc/paper/aquarium.log
doc/paper/aquarium.pdf
doc/paper/_region_.log
doc/paper/_region_.prv
doc/paper/_region_.synctex.gz
doc/paper/_region_.tex
doc/paper/prv_aquarium.log
doc/paper/aquarium.synctex.gz
doc/paper/aquarium.ent
doc/paper/arch.texshop
build.log
*.aquarium.properties
sshfs/
aquarium-dist/
aquarium-dist.tar.gz
events-store/
__*
AQUARIUM_HOME_IS_UNDEFINED
aquarium.home_IS_UNDEFINED
.gradle/
logs/
