target/
runner/
*.class
*.classpath
*.DS_Store
*.project
*.settings
*.externalToolBuilders
.idea/
bin/
.metadata
*.*~
*.iml
*.ipr
*.iws
*.db
lib_managed/
all-deps/
projectFilesBackup/
project/build/target/
project/boot/

aquarium.properties
!src/main/resources/aquarium.properties
doc/arch/aquarium.aux
doc/arch/aquarium.bbl
doc/arch/aquarium.blg
doc/arch/aquarium.log
doc/arch/aquarium.pdf
doc/arch/_region_.log
doc/arch/_region_.prv
doc/arch/_region_.synctex.gz
doc/arch/_region_.tex
doc/arch/prv_aquarium.log
doc/arch/aquarium.synctex.gz
doc/arch/aquarium.ent
doc/arch/arch.texshop
build.log
_gitstats
*.aquarium.properties
