target/
runner/
*.class
*.classpath
*.DS_Store
*.project
*.settings
*.externalToolBuilders
.idea/
bin/
.metadata
*.*~
*.iml
*.ipr
*.iws
*.db
lib_managed/
all-deps/
projectFilesBackup/
project/build/target/
project/boot/

aquarium.properties
!src/main/resources/aquarium.properties
