<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${aquarium.home}/logs/aquarium.log</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${aquarium.home}/logs/aquarium.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} %38logger{38} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="ch.qos.logback" level="INFO"/>

  <logger name="com.ckkloverdos" level="WARN"/>

  <logger name="cc.spray.can" level="INFO"/>

  <logger name="gr.grnet" level="DEBUG"/>

  <root level="DEBUG">
    <appender-ref ref="FILE"/>
  </root>
</configuration>
