<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %d{HH:mm:ss.SSS} %36logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="ch.qos.logback" level="DEBUG"/>

  <logger name="com.ckkloverdos" level="INFO"/>

  <logger name="gr.grnet" level="DEBUG"/>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
